In [1]:
# Import all the libraries required
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4]:
df.dropna(inplace = True)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [7]:
# Split the independent variables (X) and dependent variables (y)
X = df.drop(['median_house_value'], axis = 1) # Independent variables should include necessary columns except for the target variable (median_house_value)
y = df['median_house_value'] # Dependent variable should include only the target variable (median_house_value)

In [8]:
X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,INLAND

In [9]:
y

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20433, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) 
# SPlit the data into training dataset (X_train, and y_train), and testing dataset (X_test, and y_test)
# test_size=0.2 mean that the 20% (randomized) of the whole dataset will be used for testing data.

In [11]:
# Preprocess function
def preprocess(df):
    df = df.copy()
    df['total_rooms'] = np.log(df['total_rooms'] + 1)
    df['total_bedrooms'] = np.log(df['total_bedrooms'] + 1)
    df['population'] = np.log(df['population'] + 1)
    df['households'] = np.log(df['households'] + 1)
    df['bedroom_ratio'] = df['total_bedrooms'] / df['total_rooms']
    df['household_rooms'] = df['total_rooms'] / df['households']
    df = df.join(pd.get_dummies(df['ocean_proximity'], dtype=int)).drop(['ocean_proximity'], axis=1)
    return df

In [13]:
train_data = preprocess(X_train.join(y_train))
test_data = preprocess(X_test.join(y_test))

In [14]:
train_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,bedroom_ratio,household_rooms,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
14879,-117.07,32.63,37.0,7.742402,5.940171,6.934397,5.880533,3.4550,156900.0,0.767226,1.316616,0,0,0,0,1
7242,-118.12,34.01,40.0,7.257003,5.826000,6.974479,5.805135,2.4259,164600.0,0.802811,1.250101,1,0,0,0,0
9083,-118.17,34.68,13.0,8.583355,6.651572,7.735870,6.586172,6.6772,185600.0,0.774938,1.303239,0,1,0,0,0
13473,-117.37,34.07,52.0,3.931826,2.302585,4.110874,2.833213,4.1250,262500.0,0.585627,1.387762,0,1,0,0,0
53,-122.27,37.82,52.0,7.396949,6.124683,7.058758,5.993961,1.2475,104200.0,0.828001,1.234067,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17264,-119.71,34.41,31.0,6.942157,5.768321,6.905753,5.733341,2.6538,231800.0,0.830912,1.210840,0,0,0,0,1
11714,-120.15,39.20,14.0,7.232010,5.493061,4.955827,4.204693,4.1016,283300.0,0.759548,1.719985,0,1,0,0,0
4998,-118.29,33.99,46.0,7.695758,6.274762,7.634337,6.210600,2.0542,103400.0,0.815353,1.239133,1,0,0,0,0
1760,-122.33,37.94,43.0,7.537430,5.966147,6.694562,5.934894,3.1571,141600.0,0.791536,1.270019,0,0,0,1,0
118,-122.23,37.84,50.0,7.830426,5.991465,6.878326,5.924256,5.8596,327600.0,0.765152,1.321757,0,0,0,1,0

In [15]:
test_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,bedroom_ratio,household_rooms,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
13617,-117.27,34.13,40.0,7.169350,5.541264,6.677083,5.594711,3.0721,83800.0,0.772910,1.281451,0,1,0,0,0
1648,-121.96,37.99,2.0,8.048788,6.562444,7.382124,6.549651,2.9591,210100.0,0.815333,1.228888,0,1,0,0,0
3475,-118.49,34.31,25.0,6.932448,4.983607,5.880533,4.997212,7.0598,356300.0,0.718881,1.387263,1,0,0,0,0
18067,-122.03,37.29,22.0,8.045268,6.084499,7.045777,6.054439,10.3653,500001.0,0.756283,1.328821,1,0,0,0,0
5613,-118.25,33.79,34.0,7.207860,5.918894,7.448334,5.942799,2.7143,138100.0,0.821172,1.212873,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15480,-117.13,33.15,15.0,7.715124,5.945421,6.905753,5.968708,3.4833,193200.0,0.770619,1.292595,1,0,0,0,0
7799,-118.08,33.90,42.0,7.478170,5.921578,7.052721,5.910797,3.5580,161100.0,0.791849,1.265171,1,0,0,0,0
11320,-117.97,33.76,18.0,7.529943,5.991465,7.171657,5.913503,3.1771,194000.0,0.795685,1.273347,1,0,0,0,0
1912,-120.16,39.01,16.0,7.288928,5.579730,4.007333,3.295837,4.9750,206300.0,0.765508,2.211556,0,1,0,0,0
17595,-121.89,37.31,40.0,7.520235,5.831882,6.579251,5.723585,3.3682,235200.0,0.775492,1.313903,1,0,0,0,0

In [16]:
X_train, y_train = train_data.drop('median_house_value', axis=1), train_data['median_house_value']
X_test, y_test = test_data.drop('median_house_value', axis=1), test_data['median_house_value']

In [17]:
X_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,household_rooms,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
14879,-117.07,32.63,37.0,7.742402,5.940171,6.934397,5.880533,3.4550,0.767226,1.316616,0,0,0,0,1
7242,-118.12,34.01,40.0,7.257003,5.826000,6.974479,5.805135,2.4259,0.802811,1.250101,1,0,0,0,0
9083,-118.17,34.68,13.0,8.583355,6.651572,7.735870,6.586172,6.6772,0.774938,1.303239,0,1,0,0,0
13473,-117.37,34.07,52.0,3.931826,2.302585,4.110874,2.833213,4.1250,0.585627,1.387762,0,1,0,0,0
53,-122.27,37.82,52.0,7.396949,6.124683,7.058758,5.993961,1.2475,0.828001,1.234067,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17264,-119.71,34.41,31.0,6.942157,5.768321,6.905753,5.733341,2.6538,0.830912,1.210840,0,0,0,0,1
11714,-120.15,39.20,14.0,7.232010,5.493061,4.955827,4.204693,4.1016,0.759548,1.719985,0,1,0,0,0
4998,-118.29,33.99,46.0,7.695758,6.274762,7.634337,6.210600,2.0542,0.815353,1.239133,1,0,0,0,0
1760,-122.33,37.94,43.0,7.537430,5.966147,6.694562,5.934894,3.1571,0.791536,1.270019,0,0,0,1,0
118,-122.23,37.84,50.0,7.830426,5.991465,6.878326,5.924256,5.8596,0.765152,1.321757,0,0,0,1,0

In [18]:
X_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,household_rooms,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
13617,-117.27,34.13,40.0,7.169350,5.541264,6.677083,5.594711,3.0721,0.772910,1.281451,0,1,0,0,0
1648,-121.96,37.99,2.0,8.048788,6.562444,7.382124,6.549651,2.9591,0.815333,1.228888,0,1,0,0,0
3475,-118.49,34.31,25.0,6.932448,4.983607,5.880533,4.997212,7.0598,0.718881,1.387263,1,0,0,0,0
18067,-122.03,37.29,22.0,8.045268,6.084499,7.045777,6.054439,10.3653,0.756283,1.328821,1,0,0,0,0
5613,-118.25,33.79,34.0,7.207860,5.918894,7.448334,5.942799,2.7143,0.821172,1.212873,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15480,-117.13,33.15,15.0,7.715124,5.945421,6.905753,5.968708,3.4833,0.770619,1.292595,1,0,0,0,0
7799,-118.08,33.90,42.0,7.478170,5.921578,7.052721,5.910797,3.5580,0.791849,1.265171,1,0,0,0,0
11320,-117.97,33.76,18.0,7.529943,5.991465,7.171657,5.913503,3.1771,0.795685,1.273347,1,0,0,0,0
1912,-120.16,39.01,16.0,7.288928,5.579730,4.007333,3.295837,4.9750,0.765508,2.211556,0,1,0,0,0
17595,-121.89,37.31,40.0,7.520235,5.831882,6.579251,5.723585,3.3682,0.775492,1.313903,1,0,0,0,0

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

reg = LinearRegression()
scaler = StandardScaler()

X_train_s = scaler.fit_transform(X_train) # store the scaled train data to X_train_s
X_test_s = scaler.transform(X_test)

In [20]:
reg.fit(X_train, y_train)
reg.score(X_test, y_test)

0.6786862933337992

In [21]:
reg.fit(X_train_s, y_train)
reg.score(X_test_s, y_test)

0.6787794665628706

In [26]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

X_train_s = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_test_s = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

# --- Unscaled ---
y_pred = reg.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("🔹 Unscaled Results")
print(f"R²:   {reg.score(X_test, y_test):.3f}")
print(f"MAE:  {mae:,.2f}")
print(f"RMSE: {rmse:,.2f}")
print("-" * 40)

🔹 Unscaled Results
R²:   -8172119513391173327650816.000
MAE:  326,149,397,176,104,320.00
RMSE: 329,854,946,733,877,568.00
----------------------------------------

C:\Users\Jerome\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(
C:\Users\Jerome\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [27]:
# --- Scaled ---
y_pred_s = reg.predict(X_test_s)
mae_s = mean_absolute_error(y_test, y_pred_s)
rmse_s = np.sqrt(mean_squared_error(y_test, y_pred_s))

print("🔹 Scaled Results")
print(f"R² (Scaled):   {reg.score(X_test_s, y_test):.3f}")
print(f"MAE (Scaled):  {mae_s:,.2f}")
print(f"RMSE (Scaled): {rmse_s:,.2f}")

🔹 Scaled Results
R² (Scaled):   0.679
MAE (Scaled):  47,126.91
RMSE (Scaled): 65,396.92

C:\Users\Jerome\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(
C:\Users\Jerome\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(